#C:\Ebook\.env
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/course_selling
#should be changed in production

#actual values for production
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SES_FROM_EMAIL=
JWT_SECRET=
ADMIN_FORCE_RESET=false
TOTP_ENCRYPTION_KEY=
CORS_ORIGINS=http://localhost:5000,http://127.0.0.1:5000,http://192.168.1.5:5000,http://stribble.site,https://stribble.site,http://www.stribble.site,https://www.stribble.site
SESSION_COOKIE_NAME=
COOKIE_SECURE=false
ADMIN_EMAIL=praveenkunche975@gmail.com
NODE_ENV=development
SESSION_SECRET=
ADMIN_PASSWORD=Str!bble$992025xYz
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CALLBACK_URL=http://localhost:5000/auth/google/callback