#C:\Ebook\.env
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/course_selling
#should be changed in production
# Use 'sandbox' for testing and 'production' for live
CASHFREE_ENV=sandbox
# API Keys from the Cashfree Payment Gateway Dashboard
CASHFREE_CLIENT_ID=your_cashfree_pg_client_id_here
CASHFREE_CLIENT_SECRET=your_cashfree_pg_client_secret_here
# (Optional) Webhook secret. If not provided, the code falls back to using CASHFREE_CLIENT_SECRET
CASHFREE_WEBHOOK_SECRET=

# (Optional) Defaults to '2025-01-01' if not set
CASHFREE_API_VERSION=2025-01-01
# ==========================================
# CASHFREE PAYOUTS (For Automated Split Payments)
# ==========================================
# API Keys from the Cashfree Payouts Dashboard (These are DIFFERENT from the PG keys above)
CASHFREE_PAYOUT_CLIENT_ID=your_cashfree_payout_client_id_here
CASHFREE_PAYOUT_CLIENT_SECRET=your_cashfree_payout_client_secret_here

#actual values for production
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SES_FROM_EMAIL=
JWT_SECRET=
ADMIN_FORCE_RESET=false
TOTP_ENCRYPTION_KEY=
CORS_ORIGINS=http://localhost:5000,http://127.0.0.1:5000,http://192.168.1.5:5000,http://stribble.site,https://stribble.site,http://www.stribble.site,https://www.stribble.site
SESSION_COOKIE_NAME=
COOKIE_SECURE=false
ADMIN_EMAIL=praveenkunche975@gmail.com
NODE_ENV=development
SESSION_SECRET=
ADMIN_PASSWORD=Str!bble$992025xYz
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CALLBACK_URL=http://localhost:5000/auth/google/callback